:root {
    font-size: 16px;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100vw;
    height: 100vh;
}

aside.empty-container {
    grid-column: 3;
    background-color: rgb(47, 95, 139);
}
/* FONT FAMILY */


/* TEXT DECORATION */
h5 {
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
    color: rgb(139, 137, 137);
    font-style: italic;
}

.cards > h3 {
    margin-bottom: 0.5rem;
}

h1 {
    color: rgb(250, 245, 237);
}

/* content*/
aside.add-book {
    grid-column: 1;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('imgs/pexels-rickyrecap-1907784.jpg');
}
.side-btn {
    color: rgb(238, 238, 238);
    background-color: rgb(47, 95, 139);
    border-radius: 20px;
    padding: 0.7rem;
    margin: 1rem;
    font-weight: 700;
    border-color: rgb(250, 245, 237);
}
input {
    border-radius: 1rem;
    height: 1.75rem;
    padding: 0.5rem;
}
.input-lbl {
    color: rgb(106, 116, 116);
    font-style: italic;
    margin-top: 0.5rem;
}



main {
    grid-column: 2;
    background-color: rgb(47, 95, 139);

    color: rgb(250, 245, 237);
    /*display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;
    padding-top: 8rem;


}
.cards {
    display: flex;
    flex-direction: column;
    border: 1px solid wheat;
    height: 14rem;
    width: 16rem;
    text-align: center;
    align-items: center;
    
    padding: 1rem;
    margin: 1rem;

    border-radius: 4rem 1rem;
    background-color: rgb(58, 69, 78);

}
