:root {
    font-size: 16px;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: rgb(94, 212, 173);
    grid-row: 1;
    grid-column: 1 / 4;
}

.links-n-buttons {
    background-color: rgb(106, 116, 116);
    grid-column: 1;
    grid-row: 2;
}

main {
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(250, 242, 252);
}

.empty-container {
    background-color: rgb(110, 119, 119);
    grid-row: 2;
    grid-column: 3;
}