:root {
    font-size: 16px;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}


/* FONT*/
@font-face {
    font-family: 'Retroscape';
    src: url('retroscape/Retroscape.woff2') format('woff2'),
        url('retroscape/Retroscape.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h5.id {
    font-size: 0.6rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    width: 100vw;
    height: 100vh;
}

/* FONT FAMILY */


/* TEXT DECORATION */
h5 {
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
    color: rgb(139, 137, 137);
    font-style: italic;
}

.cards > h3 {
    margin-bottom: 0.5rem;
}

h1 {
    color: rgb(250, 245, 237);
    font-family: 'Retroscape';    
}

/* content*/

aside {
    background-image: url('imgs/pexels-rickyrecap-1907784.jpg');
    background-size: cover;
}
aside.add-book > section {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.2);
    height: 405px;
    margin-top: 30vh;


}
.side-btn {
    color: rgb(238, 238, 238);
    background-color: rgb(47, 95, 139);
    border-radius: 20px;
    padding: 0.7rem;
    margin: 1rem;
    font-weight: 700;
    border-color: rgb(250, 245, 237);
}
input {
    border-radius: 1rem;
    height: 1.75rem;
    padding: 0.5rem;
}
.input-lbl {
    color: rgb(193, 221, 221);
    font-style: italic;
    margin-top: 0.5rem;
    font-family: 'Retroscape'; 
}



main {
    grid-column: 2;
    background-color: rgb(47, 95, 139);

    color: rgb(250, 245, 237);
    /*display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;
    padding-top: 8rem;

    overflow:auto;


}

.cards {
    display: flex;
    flex-direction: column;
    border: 1px solid wheat;
    height: 15rem;
    width: 16rem;
    text-align: center;
    align-items: center;
    
    padding: 1rem;
    margin: 1rem;

    border-radius: 4rem 1rem;
    background-color: rgb(58, 69, 78);

}

aside > .empty-container {
    background-color: rgb(47, 95, 139);
}


